$primary: hsl(356, 87%, 60%);
$secondary: hsl(154, 90%, 45%);
$tertiary: hsl(224, 29%, 25%);

$primary-content: hsl(356, 70%, 60%);

$a-active-color: hsl(154, 90%, 35%);
$bg-trans: rgba(248, 249, 250, 0.75);
$shadow: rgba(0, 0, 0, 0.2);

$wire: 1px solid #000;
