@use "../abstracts" as *;

.button {
	display: block;
	min-width: 15rem;
	width: fit-content;
	height: fit-content;
	background-size: 100% 200%;
	margin: 3em auto 0;
	border: none;
	border-radius: 0.25rem;
	padding: 0.7em 3em;
	font-weight: 400;
	font-size: inherit;
	color: $G-02;
	line-height: inherit;
	text-align: center;
	text-decoration: none;
	box-shadow: 0 3px 40px $S-40;
	cursor: pointer;
	user-select: none;
	transform: scale(1);
	transition: transform 50ms linear, box-shadow 50ms linear;

	&--primary {
		background-image: linear-gradient(to top, $D-03 50%, $D-01 50%);
		color: $G-00;
		transition: 300ms ease;

		&:hover {
			background-position: 0 100%;
			transition: 300ms ease;
		}
	}

	&--secondary {
		background-image: linear-gradient(to top, $G-00 50%, $D-02 50%);
		color: $T-00;
		transition: 300ms ease;

		&:hover {
			background-position: 0 100%;
			color: $G-00;
			transition: 300ms ease;
		}
	}

	&--visible {
		height: 100%;
		transition: height 300ms ease;
	}

	&:active {
		box-shadow: 0 3px 10px $S-40;
		transform: scale(0.9);
		transition: transform 50ms linear, box-shadow 50ms linear;
	}

	&:disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}

.terms {
	display: block;
	width: fit-content;
	margin: 0.5rem auto;
	border: none;
	background: none;
	text-align: center;
	font-weight: 500;
	font-size: 0.875em;
	color: var(--fc-08, $M-02);
	text-decoration: underline;
	text-decoration-color: var(--fc-08, $M-02);
	text-decoration-thickness: 2px;
	transition: text-decoration-color 300ms ease;
	cursor: pointer;

	&:hover {
		text-decoration-color: transparent;
		transition: text-decoration-color 300ms ease;
	}
}
