@use "../abstracts/" as *;
@use 'sass:math';

.calendar {
	background-color: $primary-content;
	color: $gray-200;
	padding: 0;
	margin: 0 0.5em;
	box-shadow: 3px 5px 10px $shadow;
	border-radius: 5px;

	.month-title {
		background-color: darken($secondary, 5%);
		width: 100%;
		text-align: center;
		margin: 0;
		font-size: 1.3rem;
		font-weight: 400;
		padding: 1.2em 0;
		border-radius: 5px 5px 0 0;
	}

	form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		label.weekday {
			display: inline-block;
			flex-grow: 1;
			flex-basis: math.div(100%, 7);
			font-size: 0.9rem;
			padding: 0.5em 0;
			text-align: center;
			text-transform: uppercase;
			color: $gray-400;
			background-color: $gray-800;
		}

		label.day {
			flex-shrink: 0;
			height: 2.5rem;
			width: math.div(100%, 7);
			text-align: center;

			& > span {
				display: inline-block;
				width: 2rem;
				height: 2rem;
				margin: 0.25em;
				line-height: 1.8rem;
				border-radius: 50%;
				border: 2px solid $primary-content;
				text-align: center;
				transition: all 0.2s linear;
				cursor: pointer;

				&:hover {
					border-color: darken(desaturate($primary-content, 20), 10);
				}
			}

			&.invalid {
				opacity: 0;

				span {
					display: none;
				}
			}
		}
	}
}
