@use "../abstracts/" as *;

section.galeria {
	background: var(--main-bg);
	text-align: center;
	padding-top: 4em;
	padding-bottom: 5em;

	.galeria-title h2 {
		@include main-h2;
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.galeria-title h4 {
		@include main-h4;
	}
}

#galeria::before,
#galeria::after {
	content: "";
	display: table;
	clear: both;
}

#galeria {
	margin: 0 1.5rem;

	@media (min-width: 768px) {
		max-width: 80vw;
		margin: 0 auto;
	}

	& > div {
		margin-bottom: 1.5rem;
		border-radius: 4px;
		overflow: hidden;
		border: 1px solid $gray-300;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
}
