// Menu horizontal em mobile
.navbar-side {
	bottom: 0;
	width: 100vw;
	height: 5rem;
	position: fixed;
	background-color: var(--bg-nav);
	backdrop-filter: blur(10px);
	transition: width 200ms ease;
	z-index: 1;

	.navbar-nav {
		display: flex;
		flex-direction: row;
		height: 100%;
		margin-top: 0;
		margin-bottom: 0;
		padding: 0;

		li {
			list-style: none;
			background-position: center;
			padding: 0;
			filter: grayscale(100%) opacity(0.7);

			a {
				background-size: 5rem;
				background-repeat: no-repeat;
				color: transparent;
			}

			.nav-link {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				transition: none;
			}

			&:hover {
				filter: grayscale(0) opacity(1);
				background-color: var(--bg-nav-hover);
				transition: 200ms ease;
			}
		}
	}
}

// Estilos específicos do menu horizontal em mobile
@media only screen and (max-width: 575px) {
	.navbar-side .navbar-nav li a {
		display: block;
		background-position: center;
		height: 100%;
	}

	.main-doc {
		padding: 1em;
	}
}

// Torna o menu vertical
@media only screen and (min-width: 576px) {
	.navbar-side {
		top: 0;
		width: 5rem;
		height: 100vh;
		box-shadow: 0 0 1em $shadow;

		// Aplica a isologo no menu colapsado
		header a {
			display: block;
			width: 4rem;
			height: 4rem;
			background-image: url(../img/logo-e.svg);
			background-repeat: no-repeat;
			margin: auto;
			margin-top: 1em;
			margin-bottom: 2em;
		}

		.navbar-nav {
			flex-direction: column;

			li {
				height: 4em;

				// Esconde o texto no menu colapsado e
				// estilo geral de ícones
				a {
					line-height: 3em;
					min-width: 16em;
					background-position: right center;
					padding-left: 5em;
					color: transparent;
					text-decoration: none;
					position: absolute;
					left: -11em;
					text-align: right;
				}
			}
		}

		&:hover {
			width: 16rem;

			.navbar-nav li {
				// Exibe o texto no menu aberto
				a {
					display: block;
					background-position: left center;
					color: var(--link);
					text-align: left;
					left: 0;
				}
			}

			// Usa a logo completa no menu aberto
			header a {
				width: auto;
				height: 4rem;
				background-image: var(--logo);
				background-repeat: no-repeat;
				background-position: center;
				margin: auto;
				margin-top: 1em;
				margin-bottom: 2em;
			}
		}
	}

	// Espaço no conteúdo para que o menu não o sobreponha
	.main-doc {
		padding: 6.5em 1em 0 6em;
	}
}
