@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

#main-portfolio {
	height: 100vh;
	display: flex;
	flex-direction: column;

	@media screen and (min-width: 992px) {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.info {
		min-height: 30vh;
		flex: 1 0 60%;

		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			width: 100%;
			margin: 0;
			font-family: "Poppins", sans-serif;
			text-align: left;
		}

		h2 {
			width: 100%;
			margin: 0;
			font-family: "Source Code Pro", monospace;
			font-weight: 400;
		}
	}

	.iphone-x {
		transform: scale(0.6);
		align-self: center;
		position: relative;
		z-index: 9999;
		margin-top: -10rem;

		.notch {
			top: 25px;
		}

		.screen {
			background-color: black;
		}

		.device-content {
			height: 812px;
			position: relative;
			left: -520px;
		}
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}
