@use "../abstracts/" as *;
@use 'sass:math';

.booked-calendar-wrap {
	margin: 0 1em;
	padding: 0;
	border-radius: 5px;
	background-color: $D-01;
	color: $G-02;
	box-shadow: 3px 5px 10px $S-40;
	
	//.month-title {
	thead tr:not(.days) th {
		width: 100%;
		margin: 0;
		padding: 1.2em 0;
		border-radius: 5px 5px 0 0;
		background-color: darken($M-02, 5%);
		font-weight: 400;
		font-size: 1.3rem;
		text-align: center;		
	}

	form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		label.weekday {
			
			flex-grow: 1;
			flex-basis: math.div(100%, 7);

			display: inline-block;
			padding: 0.5em 0;
			background-color: $G-08;
			font-size: 0.9rem;
			color: $G-04;	
			text-align: center;
			text-transform: uppercase;
		}

		label.day {
			flex-shrink: 0;

			width: math.div(100%, 7);
			height: 2.5rem;
			text-align: center;

			& > span {
				display: inline-block;
				width: 2rem;
				height: 2rem;
				margin: 0.25em;
				border: 2px solid $D-01;
				border-radius: 50%;
				line-height: 1.8rem;
				text-align: center;
				transition: all 0.2s linear;
				cursor: pointer;

				&:hover {
					border-color: darken(desaturate($D-01, 20), 10);
				}
			}

			&.invalid {
				opacity: 0;

				span {
					display: none;
				}
			}
		}
	}
}

body table.booked-calendar,
body table.booked-calendar td .date {
	background-color: $D-01 !important;
	font-family: $F-00 !important;
	font-size: 1rem !important;
	color: $G-02 !important;
}

body table.booked-calendar td {
	border-right: none !important;
}

body table.booked-calendar td.prev-date .date,
body table.booked-calendar td.today.prev-date .date {
	background-color: $D-01 !important;
	color: $G-02 !important;

	span {
		border: none;
		color: $G-02 !important;
	}
}

body table.booked-calendar td.prev-date:hover .date,
body table.booked-calendar td.today.prev-date:hover .date {
	background-color: $D-01 !important;

	span {
		background-color: $D-01 !important;
		color: $G-02 !important;
	}
}

body table.booked-calendar td.prev-month .date span,
body table.booked-calendar td.prev-month:hover .date span,
body table.booked-calendar td.next-month .date span,
body table.booked-calendar td.next-month:hover .date span {
	color: transparent !important;
}
