@use "../abstracts/" as *;

.cf-search {
	background: none !important;
	border: none !important;

	.cf-field {
		border: none !important;
		padding-left: 2rem !important;
		height: 4rem !important;
		border-top-left-radius: 2rem !important;
		border-bottom-left-radius: 2rem !important;
		font-size: 1.5em !important;

		@media (max-width: 480px) {
			border-top-right-radius: 2rem !important;
			border-bottom-right-radius: 2rem !important;
		}
	}

	.cf-btn {
		height: 4rem !important;
		border-top-right-radius: 2rem !important;
		border-bottom-right-radius: 2rem !important;
		font-size: 1.5em !important;
		cursor: pointer;

		@media (max-width: 480px) {
			margin-top: 1rem !important;
			border-top-left-radius: 2rem !important;
			border-bottom-left-radius: 2rem !important;
		}
	}
} 