#main-doc {
	background: var(--main-bg);
}

// Separador entre sections
hr.linha {
	border: 0;
	border-top: 1px solid $primary;
	height: 0;
	margin: 4rem auto 4rem;
	text-align: center;
	width: 30%;

	// Adiciona a logo entre a linha de separação
	&::before {
		content: "";
		background: var(--main-bg) url("/img/logo-e.svg") no-repeat center;
		background-size: 20px 20px;
		padding: 20px;
		position: absolute;
		margin-top: -20px;
		margin-left: -20px;
	}
}

// Títulos, texto e código
.main-section {
	header {
		font-size: 3rem;
		font-weight: 800;
		background-image: var(--font-gradient);
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		margin-bottom: 0.5em;
	}

	p {
		line-height: 1.5;
		max-width: 125ch;
	}

	code {
		background: var(--code-bg);
		border: 1px solid var(--code-border);
		border-left: 3px solid $secondary;
		border-radius: 5px;
		font-family: "Courier New", Courier, monospace;
		color: var(--code);
		font-size: 0.9rem;
		word-wrap: break-word;
		line-height: 1.6;
		padding: 1em 1.5em;
		display: block;
	}

	code,
	ul li {
		min-width: 15rem;
		max-width: 90%;
		margin: 0 auto 1.6em;
	}
}
