@use "vars" as *;

// Reset
*,
*::before,
*::after {
	box-sizing: border-box;
}

// Usa Modo Diurno por padrão
:root {
	// Fundo, menu e logo
	--main-bg: white;
	--alt-bg: #{$gray-100};
	--bg-nav: #{$bg-trans-light};
	--nav-toggle-label: #{$gray-800};
	--bg-nav-hover: #{darken($bg-light, 10%)};
	--logo: url(../img/logo-light.svg);
	--header-mask: #{$header-mask-light};
	--bg-testimonials: #{$gray-200};
	--bg-brinde: url(../img/gift-light.svg);
	--bg-input: #{rgba(($gray-300), 0.5)};

	// Headers, texto e links
	--main-h1: #{$gray-800};
	--main-h2: #{$gray-800};
	--main-h3: #{$gray-800};
	--main-h4: #{$gray-600};
	--paragraph: #{$gray-700};
	--link: #{$gray-700};
	--text: #{$gray-700};
	--text-testimonials: #{$gray-800};
	--placeholder: #{$gray-900};
	--font-gradient: linear-gradient(190deg, #{darken($tertiary, 20%)}, #{lighten($tertiary, 10%)});

	// <code> em docs.html
	--code-bg: #{$gray-100};
	--code-border: #{$gray-200};
	--code: #{$gray-700};
}

// Aplica preferência do usuário pelo Modo Noturno
@media screen and (prefers-color-scheme: dark) {
	:root {
		// Fundo, menu e logo
		--main-bg: #{$bg-dark};
		--alt-bg: black;
		--bg-nav: #{$bg-trans-dark};
		--nav-toggle-label: #{$gray-500};
		--bg-nav-hover: #{darken($bg-dark, 5%)};
		--logo: url(../img/logo-dark.svg);
		--header-mask: #{$header-mask-dark};
		--bg-testimonials: #{$gray-800};
		--bg-brinde: url(../img/gift-dark.svg);
		--bg-input: #{rgba(($gray-700), 0.5)};

		// Headers, texto e links
		--main-h1: #{$gray-200};
		--main-h2: #{$gray-200};
		--main-h3: #{$gray-200};
		--main-h4: #{$gray-400};
		--paragraph: #{$gray-400};
		--link: #{$gray-300};
		--text: #{$gray-200};
		--placeholder: #{$gray-100};
		--font-gradient: linear-gradient(190deg, #{lighten($tertiary, 20%)}, #{lighten($tertiary, 70%)});
		--text-testimonials: #{$gray-200};

		// <code> em docs.html
		--code-bg: #{$gray-800};
		--code-border: #{$gray-700};
		--code: #{$gray-300};
	}
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

// Normaliza
body {
	background-color: var(--main-bg) !important;
	margin: 0;
	font-family: $font-sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--text);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	// Estiliza a barra de rolagem
	&::-webkit-scrollbar {
		width: 0.5rem;
	}

	&::-webkit-scrollbar-track {
		background: $tertiary;
	}

	&::-webkit-scrollbar-thumb {
		background: $primary;
	}
}

// Normaliza
p {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 0.9rem;
	color: var(--paragraph);
	margin-left: auto;
	margin-right: auto;
}
