// Paleta de cores
$primary: hsl(356, 87%, 60%);
$secondary: hsl(154, 90%, 45%);
$tertiary: hsl(224, 29%, 25%);

// Cores de fundo
$bg-light: hsl(210, 17%, 98%);
$bg-dark: hsl(0, 0%, 12%);
$header-mask-light: rgba($bg-light, 0.5);
$header-mask-dark: rgba($tertiary, 0.7);
$particles-light: $bg-dark;
$particles-dark: $bg-light;

// Cores de menus
$bg-trans-light: rgba($bg-light, 0.75);
$bg-trans-dark: darken(rgba($tertiary, 0.75), 20%);

$a-active-color: hsl(154, 90%, 35%);

// Fundo do calendário e strong h1
$primary-content: hsl(356, 70%, 60%);

// Tipografia
$font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Escala de preto
$gray-100: hsl(210, 17%, 98%);
$gray-200: hsl(210, 16%, 93%);
$gray-300: hsl(210, 14%, 89%);
$gray-400: hsl(210, 14%, 83%);
$gray-500: hsl(210, 11%, 71%);
$gray-600: hsl(208, 7%, 46%);
$gray-700: hsl(210, 9%, 31%);
$gray-800: hsl(210, 10%, 23%);
$gray-900: hsl(210, 11%, 15%);

// Outros
$shadow: rgba(0, 0, 0, 0.2);
$wire: 1px solid #000;
