@use "../abstracts" as *;

.footer {
	position: sticky;
	top: 100vh;
	width: 100%;
	padding: 2rem 1rem 0;
	background-color: darken($M-03, 5%);
	color: $G-00;

	.wrapper {
		display: flex;
		flex-flow: column wrap;
		padding-top: 2em;

		@include desktop {
			flex-flow: row wrap;
			justify-content: space-between;
			padding: 2rem;
		}
	}

	&__home {
		display: block;
		align-self: center;
		background: url(../img/logo-e.svg) no-repeat;
		width: 9rem;
		height: 9rem;
		opacity: 0.7;
	}

	&__nav {
		flex: 1 1 40%;
		margin-top: 1rem;
		align-items: flex-start;
		max-width: 60rem;
		

		@include desktop {
			max-width: 50rem;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1.5rem;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;

		@include desktop {
			flex-direction: row;
		}
	}

	&__social &__list {
		flex-direction: row;
	}

	&__item,
	.menu-user {
		text-align: center;

		a {
			margin: 0 auto;
			padding: 0.5em 0 2px 0;
			display: block;
			width: fit-content;
			font-size: 0.9rem;
			color: $G-05;
			text-decoration-line: underline;
			text-decoration-color: transparent;
			text-underline-offset: 0.25rem;
			text-transform: uppercase;
			transition: text-decoration-color 300ms ease;

			&:hover {
				text-decoration-color: $G-05;
				transition: text-decoration-color 300ms ease;
			}
		}

		&.current_page_item a {
			color: darken($M-02, 20%);
			text-decoration-color: darken($M-02, 20%);
			transition: text-decoration-color 300ms ease;
			pointer-events: none;
		}

		&--fb a,
		&--ig a {
			fill: $G-05;
			width: 2.5rem;
			height: 2.5rem;
		}

		&--fb a {
			background: url(../img/ico/ico-fb.svg) center / 100% no-repeat;
		}

		&--ig a {
			background: url(../img/ico/ico-ig.svg) center / 100% no-repeat;
		}
	}

	&__info {
		flex: 1 0 100%;
		margin: 3em 1em 0;
		padding-top: 2rem;
		border-top: 1px solid rgba($G-07, 0.3);
		text-align: center;

		p,
		address {
			color: $G-05;
		}

		address {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			margin: 2em 0 1em;
			font-style: normal;
		}

		@include desktop {
			display: flex;
			justify-content: space-between;

			p {
				flex: 0 0 45%;
				text-align: left;
				max-width: 45ch;
				margin-left: 0;
			}

			address {
				flex: 0 0 40%;
				margin-top: 0;
				max-width: 35ch;
			}
		}
	}
}