@use "../abstracts" as *;

.section {
	width: 100%;
	padding: 4em 0 5em;

	&__title {

		h2 {
			margin-top: 0;
			margin-bottom: 2rem;
			font-weight: 800;
			font-size: 2rem;
			color: var(--fc-01, $G-08);
			line-height: 1.25;
		}

		h4 {
			max-width: 40ch;
			margin: 0 auto 4rem;
			font-weight: 300;
			font-size: 0.9rem;
			color: var(--fc-02, $G-06);
			line-height: 1.5;
			
			@include desktop {
				max-width: 55ch;
			}
		}

		p {
			max-width: 40ch;
			margin-left: 0;
		}
	}

	&__details {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;

	}

	&__item {

	}

	&__subtitle {
		max-width: min(100%, 27ch);
		margin: 0 auto 3rem;
		font-weight: 600;
		font-size: clamp(1.275rem, 6vw, 2.1875rem);
		color: $M-03;
		text-align: center;
	}

	&__copy {
		width: min(100%, 900px);
		margin: 1rem auto;
		color: $G-05;
		line-height: 1.75;
	}

	&__anchor {
		font-weight: 700;
		color: $M-03;
		text-decoration-color: transparent;
		transition: 300ms ease;

		&:hover {
			text-decoration-color: $M-03;
			transition: 300ms ease;
		}
	}

	&.clear {
		width: 100%;
		margin: 0;
		padding: 3rem 0;
		background-color: $G-00;
	}

}