@use "../abstracts" as *;

// Inherits from _section.scss

.section {

	&.teams {
		background-color: var(--bg-01, $G-00);
	}

	&__item {
		
		&--teams {
			flex: 0 0 40%;

			min-width: 27ch;

			@include desktop {
				flex: 0 0 20%;

				max-width: 32ch;
			}

			h3 {
				padding-top: 5rem;
				background-position: top center;
				background-size: 3.75rem;
				background-repeat: no-repeat;
				font-weight: 500;
				font-size: 1.2rem;
				color: var(--fc-01, $G-08);
			}

			p {
				margin: 0 auto;
				line-height: 2;
				max-width: 30ch;
			}
		}

		&--online h3 {
			background-image: url(../img/ico/online-education.png);
		}

		&--individual h3 {
			background-image: url(../img/ico/thinking.png);
		}

		&--flexible h3 {
			background-image: url(../img/ico/test.png);
		}

		&--success h3 {
			background-image: url(../img/ico/success.png);
		}
	}
}