@use "../abstracts" as *;

.section {
	margin: 3rem 0;

	&__title {
		max-width: min(100%, 27ch);
		margin: 3rem auto;
		font-weight: 600;
		font-size: clamp(1.5rem, 8vw, 2.1875rem);
		color: $T-00;
		line-height: 1.5;
		text-align: center;

		&--left {
			max-width: min(100%, 900px);
			margin: 3rem auto 1rem;
			text-align: left;
		}

		&--full {
			max-width: min(100%, 45ch);
		}
	}

	&__subtitle {
		max-width: min(100%, 27ch);
		margin: 0 auto 3rem;
		font-weight: 600;
		font-size: clamp(1.275rem, 6vw, 2.1875rem);
		color: $M-03;
		text-align: center;

		&::after {
			content: "";
			display: block;
			width: 4px;
			height: 23px;
			margin: 0 auto;
			background: $M-03;
			border-radius: 3px;
			position: relative;
			top: 1rem;
			
		}
	}

	&__copy {
		width: min(100%, 900px);
		margin: 1rem auto;
		color: $G-05;
		line-height: 1.75;
	}

	&__anchor {
		font-weight: 700;
		color: $M-03;
		text-decoration-color: transparent;
		transition: 300ms ease;

		&:hover {
			text-decoration-color: $M-03;
			transition: 300ms ease;
		}
	}

	&.clear {
		width: 100%;
		margin: 0;
		padding: 3rem 0;
		background-color: $G-00;
	}

}