header {
	text-align: center;
	background-image: url("/img/header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);

	@media (min-width: 992px) {
		text-align: left;
	}
}

.agenda {
	background: rgba(255, 255, 255, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 3rem;

	& > div:nth-child(2) {
		flex: 1 0 40%;
		min-width: 18rem;
		max-width: 25rem;
		margin-bottom: 1rem;
	}

	& > div:nth-child(3) {
		flex: 1 1 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 18rem;
		max-width: 40ch;

		@media (min-width: 768px) {
			margin-left: 1rem;
		}

		h1 {
			font-size: 2rem;
			font-weight: 800;
			line-height: 2.5ex;
			color: $gray-800;
			text-shadow: 3px 5px 10px $shadow;

			strong {
				font-weight: 800;
				line-height: 0.5em;
				color: $primary-content;
			}
		}

		h2 {
			margin-top: 1rem;
			font-size: 1.3em;
			line-height: 2.5ex;
			color: $gray-800;
			text-shadow: 1px 3px 4px $shadow;
		}
	}
}

.agenda-spacer {
	flex: 1 0 100%;

	&.top {
		min-height: 37vh;
	}

	&.bottom {
		min-height: 20vh;
	}
}

.calendar {
	background-color: $primary-content;
	color: $gray-200;
	padding: 0;
	box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;

	.month-title {
		background-color: $secondary;
		width: 100%;
		text-align: center;
		color: $gray-200;
		margin: 0;
		font-size: 1.3rem;
		font-weight: 400;
		padding: 1.2rem 0;
		border-radius: 5px 5px 0 0;
	}

	form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		label.weekday {
			display: inline-block;
			flex: 1 0 14%;
			font-size: 0.9rem;
			padding: 0.5rem 0;
			text-align: center;
			text-transform: uppercase;
			color: $gray-400;
			background-color: $gray-800;
		}

		label.day {
			flex-shrink: 0;
			height: 2.5rem;
			width: (100% / 7);
			text-align: center;

			span {
				display: inline-block;
				width: 2rem;
				height: 2rem;
				margin: 0.25rem;
				line-height: 1.8rem;
				border-radius: 50%;
				border: 2px solid $primary-content;
				text-align: center;
				transition: all 0.2s linear;
				cursor: pointer;

				&:hover {
					border-color: darken(desaturate($primary-content, 20), 10);
				}
			}

			&.invalid {
				opacity: 0;

				span {
					display: none;
				}
			}
		}
	}
}

footer {
	display: flex;
	flex-flow: column wrap;
	background-color: darken($tertiary, 5%);
	color: $gray-500;
	font-size: 0.9rem;
	padding-top: 2rem;

	@media (min-width: 992px) {
		flex-flow: row wrap;
		justify-content: center;
		padding: 2rem;
	}

	& > a {
		display: block;
		background: url("../../img/logo-e.svg") no-repeat;
		width: 9rem;
		height: 9rem;
		margin: 0 auto;
		opacity: 0.7;
	}

	.nav-footer {
		flex: 1 1 40%;
		margin-top: 1rem;
		align-items: flex-start;
		max-width: 60rem;

		a {
			font-size: 0.9rem;
			text-transform: uppercase;
			color: $gray-500;
			padding: 0.5rem 0 2px 0;
			margin-right: 1.5rem;

			&:nth-child(1) {
				margin-left: 3rem;
			}

			&:nth-child(3) {
				margin-right: auto;
			}

			&.active {
				color: darken($secondary, 20%) !important;
				border-bottom: 2px solid darken($secondary, 20%);
			}
		}
	}

	@media (max-width: 991px) {
		.nav a:nth-child(1),
		.nav a:nth-child(2),
		.nav a:nth-child(3) {
			display: none;
		}
	}

	.nav a:nth-child(4) {
		margin-left: auto;
		color: $gray-500;
	}

	.nav a:nth-child(5) {
		margin-right: auto;
		color: $gray-500;
	}

	.texto {
		flex: 1 0 100%;
		margin: 3rem 1rem 0 1rem;
		padding-top: 2rem;
		border-top: 1px solid rgba($gray-700, 0.3);
		text-align: center;

		address {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-evenly;
			margin-top: 2rem;
		}

		@media (min-width: 992px) {
			display: flex;
			justify-content: space-between;

			p {
				flex: 0 0 45%;
				text-align: left;
				max-width: 45ch;
			}

			address {
				flex: 0 0 40%;
				margin-top: 0;
				max-width: 35ch;
			}
		}

		@media (min-width: 1200px) {
			display: flex;
			justify-content: center;

			& > p {
				margin-right: 20rem;
			}
		}
	}
}
