@mixin main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;

	@media (min-width: 1200px) {
		flex-flow: row nowrap;
	}
}

@mixin main-h2 {
	font-weight: 800;
	margin-bottom: 2rem;
	color: $gray-800;
}

@mixin main-h4 {
	max-width: 40ch;
	font-size: 0.9rem;
	font-weight: 300;
	line-height: 1.5;
	color: $gray-600;
	margin: 0 auto 4rem;

	@media (min-width: 992px) {
		max-width: 55ch;
	}
}

@mixin side {
	flex: 0 0 25%;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	margin-bottom: 5rem;

	@media (min-width: 992px) {
		text-align: left;
		align-content: flex-start;
		width: 52rem;
		align-self: center;
	}

	@media (min-width: 1200px) {
		max-width: 23rem;
		margin-left: 0;
		margin-right: 1rem;
	}

	h2 {
		@include main-h2;
	}

	h4 {
		@include main-h4;
	}

	p {
		font-size: 0.9rem;
		max-width: 40ch;
	}
}

main.teams {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 5rem;

	.teams-title h2 {
		@include main-h2;
	}

	.teams-title h4 {
		@include main-h4;
	}
}

.teams-details {
	@include main;

	.teams-box {
		min-width: 27ch;
		margin: 0 0.5rem 3rem 0.5rem;
		flex: 0 0 40%;

		@media (min-width: 1200px) {
			flex: 0 0 20%;
			max-width: 32ch;
		}

		h3 {
			font-size: 1.2rem;
			font-weight: 400;
			color: $gray-800;
			background-position: top center;
			background-repeat: no-repeat;
			background-size: 15vmin;
			padding-top: 20vmin;

			@media (min-width: 576px) {
				background-size: 6vmin;
				padding-top: 8vmin;
			}
		}

		&:nth-child(1) h3 {
			background-image: url("../../ico/tutor/online-education.png");
		}

		&:nth-child(2) h3 {
			background-image: url("../../ico/tutor/thinking.png");
		}

		&:nth-child(3) h3 {
			background-image: url("../../ico/tutor/test.png");
		}

		&:nth-child(4) h3 {
			background-image: url("../../ico/tutor/success.png");
		}

		p {
			color: $gray-700;
			margin: 0 auto;
			font-size: 0.9rem;
			line-height: 2;
			max-width: 30ch;
		}
	}
}

section.rapidos {
	@include main;
	flex-flow: column nowrap;
	background-color: $gray-100;
	padding-top: 10rem;
	padding-bottom: 5rem;
	clip-path: polygon(0 0, 100% 10%, 100% 95%, 0% 100%);

	.side {
		@include side;
	}
}

.rapidos-details {
	flex: 0 0 65%;
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	justify-content: space-evenly;
	max-width: 60rem;

	@media (min-width: 1200px) {
		flex-flow: row wrap;
	}

	.rapidos-box {
		flex: 0 0 40%;
		min-width: 30ch;
		margin-bottom: 3rem;
		background-size: 12vmin;
		padding-top: 18vmin;
		background-position: top center;
		background-repeat: no-repeat;

		@media (min-width: 768px) {
			min-width: 35ch;
			background-size: 6vmin;
			background-position: 1% 15%;
			padding-top: 0;
			padding-left: 9vmin;
			text-align: left;
		}

		@media (min-width: 1200px) {
			flex: 0 0 45%;
			max-width: 40ch;
		}

		&:nth-child(1) {
			background-image: url("../../ico/tutor/microphone.png");
		}

		&:nth-child(2) {
			background-image: url("../../ico/tutor/diploma.png");
		}

		&:nth-child(3) {
			background-image: url("../../ico/tutor/backpack.png");
		}

		&:nth-child(4) {
			background-image: url("../../ico/tutor/presentation.png");
		}

		h3 {
			font-variant: small-caps;
			font-size: 1.3rem;
			color: $gray-800;
		}

		p {
			color: $gray-700;
			font-size: 0.9rem;
			max-width: 40ch;
			line-height: 1.5;
			margin: 0 auto;
		}
	}

	a {
		display: block;
		width: fit-content;
		margin: 0 10%;
	}
}

section.galeria {
	text-align: center;
	padding-top: 4rem;
	padding-bottom: 5rem;

	.galeria-title h2 {
		@include main-h2;
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.galeria-title h4 {
		@include main-h4;
	}

	#galeria {
		margin: 0 auto;
	}

	#galeria,
	#galeria img {
		max-width: 100vw;
		height: auto;

		@media (min-width: 768px) {
			max-width: 640px;
		}
	}
}

section.bio {
	@include main;
	flex-flow: column nowrap;
	background-color: $gray-100;
	padding-top: 10rem;
	padding-bottom: 5rem;
	clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 95%);

	@media (min-width: 768px) {
		flex-flow: row nowrap;
		text-align: left;

		.info * {
			margin-left: 0 !important;
		}
	}

	.device {
		transform: scale(0.7);

		@media (min-width: 992px) {
			margin-top: -8rem;
		}
	}
	.foto {
		flex: 0 0 40%;
		margin-bottom: 3rem;
		background-image: url("../../img/bio.jpg");
		background-position: center top;
		background-repeat: no-repeat;
		min-width: 300px;
		min-height: 400px;

		@media (min-width: 992px) {
			max-width: 23rem;
			margin-left: 5rem;
			margin-right: 1rem;
		}
	}

	.info {
		flex: 0 1 60%;
		padding: 0 2rem;

		@media (min-width: 768px) {
			max-width: 60rem;
		}

		h2 {
			@include main-h2;
		}

		h4 {
			@include main-h4;
		}

		p {
			font-size: 0.9rem;
			line-height: 2;
			margin-left: auto;
			margin-right: auto;
			max-width: 75ch;
		}

		p:nth-of-type(4) {
			width: calc(3rem + 20ch);
			height: 3rem;
			padding-left: 3.5rem;
			background: url("../../ico/tutor/presentation-1.png") $gray-100
				center left / 3rem no-repeat padding-box;
			margin-top: 3rem;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 5rem;
			position: relative;
			float: left;
			margin-right: 1rem;
		}

		p:nth-of-type(5) {
			width: calc(3rem + 18ch);
			height: 3rem;
			padding-left: 3.5rem;
			background: url("../../ico/tutor/chat.png") $gray-100 center left /
				3rem no-repeat padding-box;
			margin-top: 3rem;
			text-align: left;
			text-transform: uppercase;
			font-weight: 700;
			position: relative;
			float: left;

			@media (min-width: 1200px) {
				width: calc(3rem + 30ch);
				line-height: 5rem;
			}
		}
	}
}

section.dizem {
	text-align: center;
	padding-top: 4rem;

	.dizem-title h2 {
		@include main-h2;
		max-width: 95vw;
		margin-left: auto;
		margin-right: auto;
	}

	.dizem-title h4 {
		@include main-h4;
	}

	.dizem-carousel {
		margin: 0 auto;
	}
}

.dizem-testimonials {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	text-align: center;
	max-width: 80rem;
	margin: 0 auto;

	.testimonial {
		flex: 0 1 45%;
		margin: 0 0.5rem 3rem;

		@media (min-width: 1200px) {
			margin: 0 1.5rem;
		}
	}

	.texto {
		min-width: 32ch;
		border-radius: 0.5rem;
		background: $gray-300;
		padding: 2rem 1.5rem;
		text-align: center;
		color: $gray-800;
		position: relative;
		z-index: 1000;

		& > span {
			font-size: 15rem;
			font-family: serif;
			font-weight: 800;
			position: absolute;
			left: 1rem;
			top: -7rem;
			opacity: 0.1;
			z-index: -1;
		}
	}

	.seta {
		width: 0;
		height: 0;
		border-left: 25px solid transparent;
		border-right: 25px solid transparent;
		border-top: 20px solid $gray-300;
		position: relative;
		top: -1em;
		left: 5rem;
	}

	.nome-perfil {
		height: 4rem;
		width: 4rem;
		position: relative;
		left: calc(5rem + 25px - 2rem);
		/* 5rem - leva ao início da seta; 25px - leva ao centro da seta; 2rem (metade da foto) - centraliza a foto sob a seta */
		background-size: 4rem;
		border-radius: 50%;

		span {
			text-align: left;
			font-size: 1.5rem;
			margin-left: 5rem;
			line-height: 4rem;
			color: $gray-800;
		}
	}

	& .testimonial:nth-child(1) .nome-perfil {
		background-image: url("../../img/pp-10.jpg");
	}

	& .testimonial:nth-child(2) .nome-perfil {
		background-image: url("../../img/pp-2.jpg");
	}

	& .testimonial:nth-child(3) .nome-perfil {
		background-image: url("../../img/pp.jpg");
	}

	& .testimonial:nth-child(4) .nome-perfil {
		background-image: url("../../img/pp-1.jpg");
	}
}

section.brinde {
	@include main;
	flex-flow: column nowrap;
	background: url("../../ico/gift.png") $gray-100 0% 80%/95% no-repeat;
	padding-top: 10rem;
	padding-bottom: 5rem;
	clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);

	@media (min-width: 576px) {
		background-position: center bottom;
	}

	@media (min-width: 768px) {
		flex-flow: row nowrap;
		text-align: left;
		background-position: 80% 40%;
		background-size: 80%;

		.side * {
			margin-left: 0 !important;
		}
	}

	.side {
		@include side;
		padding: 0 1rem;

		p:not(p:nth-of-type(1)) {
			text-align: left;
		}

		@media (min-width: 768px) {
			padding: 0;
		}
	}

	#brinde-form {
		flex: 0 1 65%;

		align-content: center;
		gap: 1rem;
		display: flex;
		flex-flow: column wrap;

		@media (min-width: 768px) {
			max-width: 60rem;
			padding: 9.8rem 4rem;
			align-content: space-between;
		}

		label {
			min-height: 4rem;
			min-width: 15rem;
		}

		#nome,
		#email {
			height: 2.5rem;
			width: 100%;
			font-weight: 700;
			background: rgba($gray-300, 0.5);
			padding: 0.5rem;
			border: 0;
			border-bottom: 2px solid lighten($tertiary, 30%);
			border-radius: 0.25rem;
			transition: border-bottom 0.3s ease;

			&::placeholder {
				color: $gray-900;
				opacity: 1;
			}

			&:active,
			&:focus {
				outline: none;
				border-bottom: 2px solid $tertiary;
			}
		}
	}
}
